.mini-nav{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding:0 20px;
}

.mini-nav button{
    border: none;
    background-color: #fff;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    cursor:pointer;
}