.appointment-container{
    border: 2px solid black;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.appointment-profile{
    font-size: 30px;
    border-radius: 50%;
    padding: 10px;
    background-color: lightgrey;
    color: #fff;
}

.appointment-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appointment-content div {
    margin-left : 20px;
}

